* {
    box-sizing: border-box;
}

html,
body {
    font-size: 24px;
    line-height: 1.2;
}

body {
    margin: 0;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-screen {
    background: #F4F9E2;
    padding: 15px 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    max-width: 1130px;

    margin-left: 38px;
}

.header__logo {
    font-size: 1rem;
    line-height: 1.125;
    letter-spacing: -0.035rem;

    color: #62D0DF;
    text-decoration: none;
    font-weight: bold;
    padding: 12px;
}

.header__logo:hover {
    color: #22356F;
}

.header__nav,
.header__actions {
    padding-top: 12px;
}

.header__nav-list {
    display: flex;

    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header__nav-link {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    font-size: .5833rem;
    /* line-height: .6666rem; */
    line-height: .875;

    color: #22356F;
    padding: 10px 6px;
}

.header__nav-link--active,
.header__nav-link:hover {
    border-bottom-color: #22356F;
}

.header__nav-list-item {
    margin: 0;
    padding: 0;
}

.header__nav-list-item:not(:last-child) {
    margin-right: 12px;
}

.header__actions {

}

.header__action {
    padding: 20px 30px;

    font-size: .5833rem;
    line-height: .875;

    text-transform: uppercase;

    color: #FFFFFF;

    background: #62D0DF;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
}

.header__action:hover {
    color: #22356F;
}
