.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, .5);

    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal--hidden {
    display: none;
}

.modal__window {
    width: 60%;

    position: relative;
}

[hidden] {
    display: none;
}

.modal__title {
    font-size: 1.4em;

    padding: 12px;

    background-color: #5bc1f1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.modal__content {
    padding: 12px;

    background: #fff;
}

.modal__title[hidden] + .modal__content {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.modal__actions {
    padding: 12px;

    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.modal__close {
    position: absolute;
    top: 0;
    right: 0;

    width: 30px;
    height: 30px;

    transform: translateX(50%) translateY(-50%);
}
