body {
    margin: 0;
    box-sizing: border-box;
}

.header,
.footer {
    padding: 25px 0;
    background-color: #845EC2;
    margin: 20px 0;
}

.nav {
    margin: 20px 0;
}

.nav__container-item {
    background-color: #D65DB1;
    padding: 10px;
    border: 1px dashed #FFC75F;
}

.nav__container {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main__item {
    padding: 0;
    background-color: #FF6F91;
    border: 1px dashed #2C73D2;
}

.main__item--a {
    padding-top: 45%;
    background-color: #FF9671;
}

.main__item--b {
    padding-top: 45%;
    background-color: #FFC75F;
}

.article__item {
    padding: 25px 0;
    background-color: #F9F871;
    border: 1px dashed #008F7A;
}

/* GRID */

.nav__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, auto);
    grid-gap: 10px;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px;
}

.article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-gap: 10px;
}

@media (min-width: 600px) {
    .nav__container {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(9, 1fr);
    }

    .main {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 10px;
    }

    .main__item--a {
        grid-column: 1 / -1;
    }

    .article {
        grid-column: 1 / -1;

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}

@media (min-width: 800px) {
    .main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .main__item--a {
        grid-column: 1 / span 1;
        grid-row: 1 / -1;
    }

    .main__item--b {
        grid-column: 2 / span 1;
    }

    .article {
        grid-column: 3 / span 1;
        grid-row: 1 / -1;

        grid-template-columns: 1fr;
    }
}
